body{
font-family:"Ubuntu";
}
.wordtile{
border:none;
width:100px;
height:180px;
float:left;
text-align:center;
margin:5px;
cursor: pointer;
padding-top:10px;
border-radius:15px;
box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
position:relative;
cursor:pointer;
}
.wordtile img{
width:80px;
margin:10px;
position:absolute;
left:0px;
bottom:10px;
}
.wordtile:hover img{
filter: alpha(opacity=85); /* for the sake of IE < 9 */
opacity: 0.85;
}
.wordtile:hover{
box-shadow:rgba(0,0,0,.3) 0px 0px 24px;
}
.verb{
background:#e8b7a6;
}
.verb:hover{
background:#dcaf9e;
}
.noun{
background:#89a8cd;
}
.noun:hover{
background:#82a0c3;
}
.other{
background:#9aeab3;}
.frequent{
background:#faaab3;
}
.other:hover{
background:#92deaa;
}
